.table {
  width: 80%;
  flex-direction: center;
  margin-left: auto;
  margin-right: auto;
}

#saveItems {
  display: grid;
  align-items: center;
  margin-bottom: 40px;
}

.container {
  margin-top: 30px;
}
